body {
    padding: 0px 4px 0px 0px;
    border-radius: 3px;
    text-indent: 20px;
    width: auto;
    margin: 0px;
    font-size: 18px;
    line-height: 150%;
    columns: #333333;
    background-image: url(../images/background-image.jpg);
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.aboutHeading {
    width: 320px;
    background:teal;
    border-bottom: 2px solid gray;
    border-top: 2px solid gray;
    font-size: 22px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.navbarContact {
    padding-right: 16px;
}

a {
    color: gray;
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.containerOne {
    width: 320px;
    margin: auto 0px auto 0px;
    padding: auto 5px auto 5px;
    background: white;
}

.container {
    width: 280px;
    margin: auto 20px 60px 20px;
    background: white;
    padding-bottom: 20px;
}

.container-port {
    width: 280px;
    margin: auto 20px 60px 20px;
    background: white;
    height: 1440px;

}

h2 {
    padding-top: 20px;
    color: teal;
    text-align: center;
    padding-right: 20px;
    font-size: 26px;
    border-bottom: 1px solid gray;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

#bio-image {
    position: relative;
    left: -20px;
    margin: 10px 5px 10px 5px;
}
footer {
    width: 320px;
    border-bottom: 35px solid #333333;
    border-top: 5px solid teal;
}

#headerPortfolio {
    width: 240px;
    position: relative;
    left: 20px;

}

.box-one {
    position: relative;
    top: 30px;
}

.box-two {
    position: relative;
}

.box-three {
    position: relative;
    top: -30px;
}

.box-four {
    position: relative;
    top: -60px;
}

.box-five {
    position: relative;
    top: -90px;
}

.container-game {
    width: 240px;
    background: teal;
    color: white;
    position: relative;
    left: 20px;
    top: -70px;
    padding-top: 10px;
    padding-right: 10px;
    height: 50px;
    text-align: center;
}

@media screen and (min-width: 321px) {
    .aboutHeading {
        width: 100%;
        background: teal;
        position: fixed;
        left: 0px;
        padding: 20px;
        font-size: 28px;
        color: #eeeeee;
        text-align: left;  
        font-family: 'Georgia', Times, Times New Roman, serif;
    }
    .containerOne {
        position: fixed;
        margin-top: 68px;
        width: 100%;
        background: white;
        border-bottom: 1px solid gray;
        border-top: 1px solid gray;
    
    }
    .container-port {
        position: relative;
        margin: 40% 20% 20% 20%;
    }
    .navbarAbout {
        position: relative;
        left:5%;
        float: left;
    }
    .navbarContact {
        position: relative;
        right: 5%;
    }
    footer {
        position: fixed;
        bottom: 0%;
        width: 100%;
    }
    .container {
        position: relative;
        margin: 40% 20% 20% 17%;
    }
}

@media screen and (min-width: 426px) {
    .navbarAbout {
        position: relative;
        left: 20%;
        float: left;
    }
    .navbarContact {
        position: relative;
        right: 20%;
        float: left;
    }
    .container-port {
        padding-top: 20px;
        width: 90%;
        margin: 20% 30% 1% 30%;
        height: 900px;
    }
    #headerPortfolio {
        width: 94%;
        position: relative;  
    }
    .container {
        position: relative;
        width: 75%;
        margin: 150px 10% 20% 12%;
    }
    #bio-image {
        float: left;
        margin-left: 20px;
    }
}
@media screen and (min-width: 426px) {
    .box-one{
        left: 10%;
    }
    .box-two {
        left: 50%;
        bottom: 99%;
    }
    .box-three {
        left: 10%;
        top: -300px;
    }
    .box-four {
        left: 50%;
        top: -597px;
    }
    .box-five {
        left: 10%;
        top: -628px
    }
}

@media screen and (min-width: 769px) {
    .navbarAbout {
        position: relative;
        left: 20%;
        float: left;
    }
    .navbarContact {
        position: relative;
        right: 20%;
        float: left;
    }
    .container-port {
        width: 960px;
        margin: 150px 50px 50px 200px;
        padding: 30px 50px 60px 50px;
        background: white;
    }
    input {
        width: 100%;
    }
    
    .contact-submit {
        width: 100px;
    }
}

@media screen and (min-width: 1025px) {
.container-port {
    width: 960px;
    margin: 150px auto 100px auto;
    padding: 30px 50px 60px 50px;
    background: white;
}
}